@import "tailwindcss";

@theme {
  --color-midnight: #050505;
  --color-midnight-card: #0F1218;
  --color-teal: #00F2AD;
  --color-teal-dim: #00F2AD1A;
  --color-crimson: #FF4B4B;
  --color-crimson-dim: #FF4B4B1A;
  --color-amber: #FFB02E;
  --color-slate-100: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-slate-600: #475569;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    background-color: var(--color-midnight);
    color: #F8FAFC;
    font-family: var(--font-sans);
  }
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-sweep {
  animation: sweep 2s linear infinite;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}